* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #FFEFE7;
}

nav {
  width: 100%;
  min-width: 320px;
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-title {
  font-size: 1.4rem;
  margin-left: 10px;
  padding: 5px;
  font-weight: 400;
  line-height: 2.6rem;
  color: #7C6A0A;
}
nav .nav-buttons-container {
  display: flex;
  gap: 5px;
  margin-right: 10px;
}
nav .nav-buttons-container button {
  height: 30px;
  width: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

main {
  width: 100%;
  height: auto;
}
main .main-section-container {
  width: 80%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 40px;
}
main .main-section-container .main-section-right {
  width: 100%;
  height: 390px;
  background-image: url(../assets/img/main-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  margin-bottom: 16px;
}
main .main-section-container .main-section-left {
  color: #7C6A0A;
}
main .main-section-container .main-section-left .section-left--title {
  font-size: 2.4rem;
  line-height: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
}
main .main-section-container .main-section-left .section-left--info {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-bottom: 20px;
}
main .main-section-container .main-section-left .section-left--button {
  position: relative;
  display: flex;
  width: 130px;
  height: 40px;
  left: calc(50% - 73px);
  align-items: center;
  justify-content: center;
  background-color: #FA9500;
  border-radius: 20px;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}
@media (min-width: 768px) {
  main .main-section-container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    gap: 50px;
  }
  main .main-section-container .main-section-right {
    width: 50%;
    height: 80vh;
    order: 2;
  }
  main .main-section-container .main-section-left {
    width: 50%;
    order: 1;
    padding: 20px;
  }
  main .main-section-container .main-section-left .section-left--title {
    font-size: 3rem;
    margin-bottom: 60px;
  }
  main .main-section-container .main-section-left .section-left--info {
    margin-bottom: 60px;
    font-size: 1.45rem;
  }
  main .main-section-container .main-section-left .section-left--button {
    left: 0;
  }
}
main .main-product-section {
  width: 100%;
  min-width: 320px;
  height: auto;
}
main .main-product-section .products-container {
  width: 80%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 40px;
}
main .main-product-section .products-container .products-title {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: #7C6A0A;
  margin-bottom: 20px;
}
main .main-product-section .products-container .products-card-container .card-section {
  width: 75%;
  height: 340px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 8px;
  background-color: #FFDAC6;
  border-radius: 8px;
}
main .main-product-section .products-container .products-card-container .card-section .card-button {
  position: relative;
  left: calc(100% - 16px);
  height: 16px;
  width: 16px;
  background: none;
  border: none;
  cursor: pointer;
}
main .main-product-section .products-container .products-card-container .card-section .card-button img {
  height: 16px;
  width: 16px;
}
main .main-product-section .products-container .products-card-container .card-section .card-img {
  width: 90%;
  height: 216px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-image: url(../assets/img/products/toothbrush.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
main .main-product-section .products-container .products-card-container .card-section .hand-cream {
  background-image: url(../assets/img/products/hand-cream.jpeg);
}
main .main-product-section .products-container .products-card-container .card-section .serum-hidratante {
  background-image: url(../assets/img/products/serum.jpg);
}
main .main-product-section .products-container .products-card-container .card-section .travel-kit {
  background-image: url(../assets/img/products/organic-kit.jpg);
}
main .main-product-section .products-container .products-card-container .card-section .soap-set {
  background-image: url(../assets/img/products/organic-soap.jpg);
}
main .main-product-section .products-container .products-card-container .card-section .skincare-kit {
  background-image: url(../assets/img/products/guasha-kit.jpg);
}
main .main-product-section .products-container .products-card-container .card-section .card-info-container {
  width: 90%;
  height: 70px;
  margin: 0 auto;
}
main .main-product-section .products-container .products-card-container .card-section .card-info-container .card-info--title {
  font-size: 1.6rem;
  font-weight: 450;
  line-height: 1.8rem;
  margin-bottom: 5px;
  color: #7C6A0A;
}
main .main-product-section .products-container .products-card-container .card-section .card-info-container .card-info--info {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #7C6A0A;
}
@media (min-width: 768px) {
  main .main-product-section .products-container .products-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  main .main-product-section .products-container .products-card-container .card-section {
    width: 35%;
  }
}
@media (min-width: 1024px) {
  main .main-product-section .products-container .products-card-container .card-section {
    width: 26%;
  }
}
@media (min-width: 768px) {
  main .main-product-section .products-container .products-title {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  main .main-product-section .products-container .products-title {
    font-size: 2.4rem;
  }
}
main .main-product-section .furniture-container {
  width: 80%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 40px;
}
main .main-product-section .furniture-container .products-title {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: #7C6A0A;
  margin-bottom: 20px;
}
main .main-product-section .furniture-container .products-card-container .card-section {
  width: 75%;
  height: 340px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 8px;
  background-color: #FFDAC6;
  border-radius: 8px;
}
main .main-product-section .furniture-container .products-card-container .card-section .card-button {
  position: relative;
  left: calc(100% - 16px);
  height: 16px;
  width: 16px;
  background: none;
  border: none;
  cursor: pointer;
}
main .main-product-section .furniture-container .products-card-container .card-section .card-button img {
  height: 16px;
  width: 16px;
}
main .main-product-section .furniture-container .products-card-container .card-section .card-img {
  width: 90%;
  height: 216px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-image: url(../assets/img/products/toothbrush.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
main .main-product-section .furniture-container .products-card-container .card-section .hand-cream {
  background-image: url(../assets/img/products/hand-cream.jpeg);
}
main .main-product-section .furniture-container .products-card-container .card-section .serum-hidratante {
  background-image: url(../assets/img/products/serum.jpg);
}
main .main-product-section .furniture-container .products-card-container .card-section .travel-kit {
  background-image: url(../assets/img/products/organic-kit.jpg);
}
main .main-product-section .furniture-container .products-card-container .card-section .soap-set {
  background-image: url(../assets/img/products/organic-soap.jpg);
}
main .main-product-section .furniture-container .products-card-container .card-section .skincare-kit {
  background-image: url(../assets/img/products/guasha-kit.jpg);
}
main .main-product-section .furniture-container .products-card-container .card-section .card-info-container {
  width: 90%;
  height: 70px;
  margin: 0 auto;
}
main .main-product-section .furniture-container .products-card-container .card-section .card-info-container .card-info--title {
  font-size: 1.6rem;
  font-weight: 450;
  line-height: 1.8rem;
  margin-bottom: 5px;
  color: #7C6A0A;
}
main .main-product-section .furniture-container .products-card-container .card-section .card-info-container .card-info--info {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #7C6A0A;
}
@media (min-width: 768px) {
  main .main-product-section .furniture-container .products-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  main .main-product-section .furniture-container .products-card-container .card-section {
    width: 35%;
  }
}
@media (min-width: 1024px) {
  main .main-product-section .furniture-container .products-card-container .card-section {
    width: 26%;
  }
}
@media (min-width: 768px) {
  main .main-product-section .furniture-container .products-title {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  main .main-product-section .furniture-container .products-title {
    font-size: 2.4rem;
  }
}
main .main-product-section .furniture-container .products-card-container .card-section {
  background-color: #BABD8D;
}
main .main-product-section .furniture-container .products-card-container .card-section .card-img {
  background-image: url(../assets/img/furniture/wood-chair.jpg);
}
main .main-product-section .furniture-container .products-card-container .card-section .banco {
  background-image: url(../assets/img/furniture/small-table.jpeg);
}
main .main-product-section .furniture-container .products-card-container .card-section .buro {
  background-image: url(../assets/img/furniture/stand-table.jpg);
}
main .main-product-section .furniture-container .products-card-container .card-section .mueble {
  background-image: url(../assets/img/furniture/mueble.jpg);
}
main .main-product-section .furniture-container .products-card-container .card-section .mirror {
  background-image: url(../assets/img/furniture/mirror.jpg);
}
main .main-product-section .furniture-container .products-card-container .card-section .desk-lamp {
  background-image: url(../assets/img/furniture/desk-lamp.jpg);
}
main .main-product-section .furniture-container .products-card-container .card-section .stand {
  background-image: url(../assets/img/furniture/stand.jpg);
}
main .main-product-section .furniture-container .products-card-container .card-section .mini-table {
  background-image: url(../assets/img/furniture/mini-table.jpg);
}
main .main-product-section .furniture-container .products-card-container .card-section .table {
  background-image: url(../assets/img/furniture/table.jpg);
}
main .main-product-section .furniture-container .products-card-container .card-section .card-info-container .card-info--title {
  color: #ffffff;
}
main .main-product-section .furniture-container .products-card-container .card-section .card-info-container .card-info--info {
  color: #ffffff;
}
main .main-info-section {
  width: 100%;
  min-width: 320px;
  height: auto;
}
main .main-info-section .info-section--aboutUs {
  width: 80%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 30px;
}
main .main-info-section .info-section--aboutUs .aboutUs-title {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: #7C6A0A;
  margin-bottom: 40px;
}
main .main-info-section .info-section--aboutUs .aboutUs-imgs-container .aboutUs-left, main .main-info-section .info-section--aboutUs .aboutUs-imgs-container .aboutUs-right {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}
main .main-info-section .info-section--aboutUs .aboutUs-imgs-container .aboutUs-left img, main .main-info-section .info-section--aboutUs .aboutUs-imgs-container .aboutUs-right img {
  height: 80px;
  width: 80px;
  margin-bottom: 16px;
}
main .main-info-section .info-section--aboutUs .aboutUs-imgs-container .aboutUs-left p, main .main-info-section .info-section--aboutUs .aboutUs-imgs-container .aboutUs-right p {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6rem;
  color: #E86424;
}
@media (min-width: 768px) {
  main .main-info-section .info-section--aboutUs .aboutUs-imgs-container {
    display: flex;
    gap: 60px;
  }
}
@media (min-width: 768px) {
  main .main-info-section .info-section--aboutUs .aboutUs-title {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  main .main-info-section .info-section--aboutUs .aboutUs-title {
    font-size: 2.4rem;
  }
  main .main-info-section .info-section--aboutUs .aboutUs-imgs-container .aboutUs-left p, main .main-info-section .info-section--aboutUs .aboutUs-imgs-container .aboutUs-right p {
    font-size: 1.45rem;
  }
}

footer {
  background-color: #FA9500;
  width: 100%;
  height: 250px;
}/*# sourceMappingURL=main.css.map */