// Creación de variables
$primary-color_cream: #FFEFE7;
$secondary-color_bold-cream: #FFDAC6;
$tertiary-color_green-light: #BABD8D;
$quaternary-color_orange: #FA9500;
$primary-text-color_bold-green: #7C6A0A;
$font-family: "IBM Plex Sans", sans-serif;

// estilos base de los contenedores
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	font-size: 62.5%;
	font-family: $font-family;
	background-color: $primary-color_cream;
}

// estilos de la sección navbar
nav {
	width: 100%;
	min-width: 320px;
	height: 50px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.nav-title{
		font-size: 1.4rem;
		margin-left: 10px;
		padding: 5px;
		font-weight: 400;
		line-height: 2.6rem;
		color: #7C6A0A;
	}

	.nav-buttons-container{
		display: flex;
		gap: 5px;
		margin-right: 10px;

		button{
			height: 30px;
			width: 30px;
			background: none;
			border: none;
			cursor: pointer;
		}
	}
}

// Estilos de la sección main
main {
	width: 100%;
	height: auto;

	// 1ra sección
	.main-section-container{
		width: 80%;
		min-width: 288px;
		height: auto;
		margin: 0 auto;
		margin-bottom: 40px;

		.main-section-right{
			width: 100%;
			height: 390px;
			background-image: url(../assets/img/main-2.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			border-radius: 8px;
			margin-bottom: 16px;
		}

		.main-section-left{
			color: $primary-text-color_bold-green;

			.section-left--title{
				font-size: 2.4rem;
				line-height: 2rem;
				margin-bottom: 20px;
				font-weight: bold;
			}

			.section-left--info{
				font-size: 1.2rem;
				line-height: 1.6rem;
				margin-bottom: 20px;
			}

			.section-left--button{
				position: relative;
				display: flex;
				width: 130px;
				height: 40px;
				left: calc(50% - 73px);
				align-items: center;
				justify-content: center;
				background-color: $quaternary-color_orange;
				border-radius: 20px;
				color: #ffffff;
				font-size: 1.2rem;
				font-weight: 600;
				text-decoration: none;
			}
		}

		@media (min-width: 768px) {
			width: 90%;
			margin: 0 auto;
			margin-bottom: 20px;
			display: flex;
			gap: 50px;
			

			.main-section-right{
				width: 50%;
				height: 80vh;
				order: 2;
			}

			.main-section-left{
				width: 50%;
				order: 1;
				padding: 20px;

				.section-left--title{
					font-size: 3rem;
					margin-bottom: 60px;
				}

				.section-left--info{
					margin-bottom: 60px;
					font-size: 1.45rem;
				}

				.section-left--button{
					left: 0;
				}
			}
		}
	}
}

// Estilos de la sección footer
footer {
	$background-color: #FA9500;
	background-color: $background-color;
	width: 100%;
	height: 250px;
}